.navbar {
    position: absolute;
    top: 0;
    z-index: $primary-z-index;
    width: 100%;
    height: 75px;
    font-weight: bold;

    .collapse {
        .navbar-nav {
            margin: auto;

            .nav-item {
                position: relative;

                .nav-link {
                    color: $secondary-text-color;
                }

                .dropdown-menu {
                    font-weight: normal;
                    background-color: darken($secondary-background, 12);
                    animation-duration: $primary-transition;

                    .nav-link {
                        color: $primary-text-color;
                        transition: background-color $primary-transition ease;

                        &:hover {
                            background-color: darken($secondary-background, 18);
                        }
                    }
                }
            }
        }
    }

    .navbar-toggler {
        font-size: 18px;
        margin-left: auto;

        .hamburger-box {
            .hamburger-inner{
                background-color: $secondary-text-color;

                &:before, &:after {
                    background-color: $secondary-text-color;
                }
            }
        }

        &:active, &:focus {
            border: 0;
            outline: none;
            box-shadow: none;
        }
    }
}
