.form-group {
    position: relative !important;
    padding-top: 8px;

    label.error {
        position: absolute;
        left: 0;
        top: -16px;
        color: darken($tertiary-text-color, 2);
    }
}
