.article-list-box {
    color: $secondary-text-color;
    border-bottom: 2px solid $secondary-text-color;
    margin: 18px 0;
    padding: 16px 0;

    .article-thumbnail {
        @extend .img-fluid;

        max-height: 175px;
    }

    .article-title {
        font-weight: bold;
    }

    .article-content {

    }
}
