$primary-font-family: 'Source Sans Pro', sans-serif;

$primary-background: #020202;

$primary-text-color: #333333;
$secondary-text-color: #BDBDBD;

$primary-transition: 200ms;
$secondary-transition: 500ms;

$primary-z-index: 1000;
