$primary-font-family: 'Source Sans Pro', sans-serif;

$primary-background: #020202;
$secondary-background: #ffffff;
$tertiary-background: #BDBDBD;

$primary-text-color: #333333;
$secondary-text-color: #BDBDBD;
$tertiary-text-color: #ffffff;

$primary-transition: 200ms;
$secondary-transition: 500ms;

$primary-border-radius: 8px;

$primary-z-index: 1000;
